# Logs
logs
*.log
npm-debug.log*

# Dependencias
node_modules/

# Build
dist/

# Firebase
.firebase/
.firebasecache/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfplan
.terraform.lock.hcl

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env.*.local

# Documento original del reto
Reto_Tecnico_Finalistas.docx
